# Python
__pycache__/
*.py[cod]
.venv/
.env
.pytest_cache/
.ruff_cache/
*.egg-info/
build/
dist/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Project data
input/*
workspace/*
output/*
!input/.gitkeep
!workspace/.gitkeep
!output/.gitkeep
